@font-face {
    font-family: 'linearbeam';
    src: url('../fonts/linear_beam/Linebeam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
  @font-face {
    font-family: 'ledlight';
    src: url('../fonts/ledlight/LEDLIGHT.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
    
html {
    font-family: Arial, Helvetica, sans-serif
}

body {
    background: url('../img/Backgroundtest1small.png') repeat-y center / cover;
    background-color: black;
    min-height: 100vh;
    background-attachment: fixed;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; /* Prevent horizontal overflow */
    position: relative;
}

header {
    position: relative;
    height: 150px;
    width: 100%;
    padding: 10px;
    background-color: rgba(17, 16, 16, 0.39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .logo {
    height: 120px;
    width: auto;
    position: absolute;
    left: 3%;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: rgb(6, 48, 110);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header h1 img {
    height: 30px;
    width: auto;
}
.nav-menu {
    position: absolute;
    top: 5%;
    right: 2%;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px;
    background-color: rgba(255, 69, 0, 0.6);
    border-radius: 25px;
}

.nav-menu li {
    margin: 0 8px;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(10, 41, 97);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 1s, color 1s;
}

.nav-menu a:hover {
    color: orangered;
    background-color: #082269;
}

main {
    background-color: rgba(32, 101, 192, 0.1);
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    align-items: center;
}

.dream-machine {
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 3, 3, 0.733);
    color: rgb(10, 72, 165);
    padding: 0px;
    box-shadow: 0px 25px 10px rgba(0, 0, 0, 0.274);
    z-index: 999;
    overflow: hidden;
}

.dream-machine h2 {
    animation: moveBanner 8s linear infinite;
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    width: 75%;
}

.dream-machine h2 img {
    height: 30px;
    width: auto;
}

@keyframes moveBanner {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.formen {
    width: 80%;
    max-width: 800px;
    background-color: rgba(230, 82, 14, 0.103);
    margin: 120px auto 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 8px rgba(247, 52, 17, 0.747);
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

form {
    display: flex;
    flex-direction: column;
    color: white;
}

form label {
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

form input[type="text"],
form textarea,
form select {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
    background-color: white;
    color: black;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-family: inherit;
}

form input[type="submit"] {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ff4500;
    color: rgb(3, 6, 46);
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    align-self: center;
}

form input[type="submit"]:hover {
    background-color: #ff4500;
    transform: scale(1.35);
}

.dreambox {
    display: grid;
    gap: 20px;
    background-color: rgba(11, 88, 175, 0.034);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive columns */
    margin: 0;
    border: 0;
    padding: 0;
    width: 75%; /* Ensure dreambox takes full width */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

h2 {
    margin-top: 0;
    text-align: center;
}

.comment {
    background-color: rgba(209, 83, 10, 0.137);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment-name {
    font-weight: bold;
}

.comment-type-recurring,
.comment-type-nightmare,
.comment-type-lucid,
.comment-type-fantasy,
.comment-type-dream {
    border-radius: 20%;
    padding: 10px;
    font-style: italic;
    text-align: right;
}

.comment-type-dream {
    background-color: rgb(245, 229, 10);
}

.comment-type-nightmare {
    background-color: rgb(42, 16, 63);
    color: red;
}

.comment-type-lucid {
    background-color: rgb(175, 118, 11);
}

.comment-type-fantasy {
    background-color: rgb(40, 192, 10);
}

.comment-type-recurring {
    background-color: rgb(80, 7, 80);
}


.comment-body p {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.671);
    color: rgb(15, 15, 15);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.637);
}

.comment-footer {
    margin-top: 10px;
    text-align: right;
    font-size: 0.9em;
    color: #aaa;
}

/* Media Queries */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav-menu {
        flex-direction: column;
        top: 20px;
        right: 0;
        background-color: rgba(255, 69, 0, 0.9);
    }

    .nav-menu li {
        margin: 5px 0;
    }

    .dream-machine h2 {
        font-size: 1.5em;
    }

    .yolo {
        width: 90%;
    }

    form label {
        font-size: 1em;
    }

    .dreambox {
        grid-template-columns: 1fr;
        width: 100%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }

    .nav-menu {
        top: 10px;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 69, 0, 0.9);
    }

    .nav-menu li {
        margin: 5px 0;
    }

    .dream-machine h2 {
        font-size: 1.2em;
    }

    .yolo {
        width: 100%;
    }

    form label {
        font-size: 0.8em;
    }
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    opacity: 0.7;
}

footer .logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
}

footer .logo a {
    flex: 0 1 100px;
}

footer .logo a img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

footer .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}