body {
    border: solid 1px navy;
    display: grid;
    background-color: gray;
    grid-template: repeat(4, 1fr) / repeat(12, 1fr);
    grid-gap: 5px;
    max-width: 900px;
    margin: 0 auto;
    justify-content: stretch;
    align-items: stretch;
}

body > div {
    background-color: blanchedalmond;
    border: solid 1px blue;
    color:black;
    border-radius: 5px; 
    padding: 20px;
    overflow: hidden;
}

.item {
    background-color: blanchedalmond;
    border: solid 1px blue;
    color:black;
    border-radius: 5px; 
}

body > div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 7;
    height: 150px;
}

body > div:nth-child(2) {
    grid-area: 1 / 7 / 2 / 13;
    height: 150px;
}