@font-face {
    font-family: 'linearbeam';
    src: url('../fonts/linear_beam/Linebeam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
  @font-face {
    font-family: 'ledlight';
    src: url('../fonts/ledlight/LEDLIGHT.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
    
html {
    font-family: Arial, Helvetica, sans-serif
}

body {
    background: url('../img/Backgroundtest1small.png') repeat-y center / cover;
    background-color: black;
    min-height: 100vh;
    background-attachment: fixed;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; /* Prevent horizontal overflow */
    position: relative;
}

header {
    position: relative;
    height: 150px;
    width: 100%;
    padding: 10px;
    background-color: rgba(17, 16, 16, 0.39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .logo {
    height: 120px;
    width: auto;
    position: absolute;
    left: 3%;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: rgb(6, 48, 110);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header h1 img {
    height: 30px;
    width: auto;
}
.nav-menu {
    position: absolute;
    top: 5%;
    right: 2%;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px;
    background-color: rgba(255, 69, 0, 0.6);
    border-radius: 25px;
}

.nav-menu li {
    margin: 0 8px;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(10, 41, 97);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 1s, color 1s;
}

.nav-menu a:hover {
    color: orangered;
    background-color: #082269;
}

main {
    width: 100%;
    background-color: rgba(32, 101, 192, 0.1);
    padding: 20px;
    padding-top: 100px; /* Ensure enough padding at the top for the header */
    border-radius: 10px;
    margin-top: 150px;
    display: grid;
    place-items: center;
    row-gap: 20px;
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.dream-machine {
    position: fixed;
    top: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 3, 3, 0.733);
    color: rgb(10, 72, 165);
    padding: 0px;
    box-shadow: 0px 25px 10px rgba(0, 0, 0, 0.274);
    z-index: 999;
    overflow: hidden;
}

.dream-machine h2 {
    animation: moveBanner 8s linear infinite;
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    width: 75%;
}

.dream-machine h2 img {
    height: 30px;
    width: auto;
}

@keyframes moveBanner {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}



.howto {
    position: absolute;
    top: 300px;
    display: grid;
    grid-gap: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.671);
    color: rgb(15, 15, 15);
    width: 80%;
    padding-bottom: 20px;
}

.howto h2 {
    color: rgb(0, 0, 0);
    background-color: rgba(75, 68, 65, 0.336);
    border-radius: 5%;
    display: grid;
    place-items: center;
}

.howto ol li {
    margin: 15px 0px;
}

.howto p {
    margin: 0px 10px;
}









/* Media Queries */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav-menu {
        flex-direction: column;
        top: 20px;
        right: 0;
        background-color: rgba(255, 69, 0, 0.9);
    }

    .nav-menu li {
        margin: 5px 0;
    }

    .dream-machine h2 {
        font-size: 1.5em;
    }

    .yolo {
        width: 90%;
    }

    form label {
        font-size: 1em;
    }

    .dreambox {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }

    .nav-menu {
        top: 10px;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 69, 0, 0.9);
    }

    .nav-menu li {
        margin: 5px 0;
    }

    .dream-machine h2 {
        font-size: 1.2em;
    }

    .yolo {
        width: 100%;
    }

    form label {
        font-size: 0.8em;
    }

}

@media (max-width: 600px) {
    .howto {
        left: 0;
        transform: none;
        width: 100%;
        margin: 0;
    }

}
